@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .nav {
        @apply relative tracking-[1px];
    }

    .nav::after {
        @apply content-[''] bg-[#FFA500] h-[2.5px] w-[0%] left-0 -bottom-[4px] rounded-xl absolute duration-300;
    }

    .nav:hover::after {
        @apply w-[100%];
    }

    .img {
        padding: 0.3rem;
        background-color: #991C1C;
        border-radius: 1rem;

    }

    .img:hover {
        background-color: #FFA500;
        transition: 200ms;
        cursor: pointer;
    }

    /* Estilos base del botón */
    .btn {
        display: inline-block;
        transition-property: background-color, color;
        transition-duration: 400ms;
        background-color: #FFA500;
        color: #ffffff;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        /* Equivalente a rounded en Tailwind CSS */
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        /* Equivalente a shadow-lg en Tailwind CSS */
    }

    /* Estilos de hover para el botón */
    .btn:hover {
        background-color: #FF8C00;
        cursor: pointer;
        /* Cambia el color de fondo al pasar el cursor */
    }

    /* Estilos de foco para el botón */
    .btn:focus {
        outline: none;
        /* Evita el borde de enfoque predeterminado */
        box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5);
        /* Agrega un borde de enfoque personalizado */
    }

}